include ../../assets/mixins

div(class='theme-switcher')
  span(class='theme-switcher__icon')
    +icon('system-mode', 'icon-system')
    +icon('light-mode', 'icon-light')
    +icon('dark-mode', 'icon-dark')
  select(class='form-control form-control--sm theme-switcher__select' aria-label='Select a theme')
    option(value='system') System
    option(value='light') Light
    option(value='dark') Dark
