div(class='form-group-stack')
  div(class='form-group')
    label(class='form-label' for='first-name') First Name
    input(id='first-name' class='form-control' type='text' name='first-name' autofocus)
  div(class='form-group')
    label(class='form-label' for='last-name') Last Name
    input(id='last-name' class='form-control' type='text' name='last-name')
  div(class='form-group')
    button(class='btn btn--primary btn--lg btn--block' type='submit') Save
