div(class='page-heading')
  div(class='page-heading__container')
    div(class='page-heading__inner')
      h1(class='page-heading__title') Why Mountains Is No Friend to Small Business
      include breadcrumb
