div(class='post-heading')
  div(class='container--narrow')
    div(class='post-heading__inner')
      h1(class='post-heading__title') Why Mountains Is No Friend to Small Business
      include breadcrumb
      div(class='post-heading__meta')
        a(class='post-author' href='#')
          img(src='https://secure.gravatar.com/avatar/fd9479a898c593601efd2fe758a86dba?s=96&d=mm&r=g' class='post-author__avatar' alt='' aria-hidden='true' width='38' height='38')
          span(class='post-author__name') by Adam Laki
        span Posted in #[a(href='#') Business], #[a(href='#') Notes]
        span
          span(class='sr-only') Posted on
          time(datetime='2022-03-17T11:47:25+01:00') Mar 17, 2022

