extends ../layout.pug

block variables
  -var title = 'Article Example'

block styles
  link(rel='stylesheet' href=`../assets/css/article.css?time=${time}`)

block content
  main(class='article-screen')
    div(class='article-screen__container')
    .page-heading
      .page-heading__container
        .page-heading__inner
          h1.page-heading__title UX Design
          .breadcrumb-list
            span
              span
                a(href='#') Home
                span.separator(aria-hidden='true')
                span
                  a(href='#') Services
                  span.separator(aria-hidden='true')
                  span.breadcrumb_last(aria-current='page') UX Design
      div(class='article-screen__inner')
        figure#attachment_287.wp-caption.alignnone(aria-describedby='caption-attachment-287' style='width: 1200px')
          img.wp-image-287.size-full(src='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/4926333.png' alt='' width='1200' height='667' srcset='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/4926333.png 1200w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/4926333-450x250.png 450w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/4926333-1024x569.png 1024w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/4926333-768x427.png 768w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/4926333-150x83.png 150w' sizes='(max-width: 1200px) 100vw, 1200px')
          figcaption#caption-attachment-287.wp-caption-text Donec at arcu ac diam sodales elementum ac sit amet tortor.
        h1 Didn&rsquo;t melt fairer keepsakes since Fellowship elsewhere.
        p
          | Woodlands payment Osgiliath tightening. Barad-dur follow belly comforts tender tough bell? Many that live deserve death. Some that die deserve life. Outwitted teatime grasp defeated before stones reflection corset seen animals Saruman&rsquo;s call?
        .iframe-responsive
          iframe(src='https://www.youtube.com/embed/umbiR1sbap8' frameborder='0' allowfullscreen='')
        h2 Tad survive ensnare joy mistake courtesy Bagshot Row.
        p
          | Ligulas step drops both? You shall not pass! Tender respectable success Valar impressive unfriendly bloom scraped? Branch hey-diddle-diddle pony trouble&rsquo;ll sleeping during jump Narsil.
        h3 North valor overflowing sort I&aacute;ve mister kingly money?
        p
          | Curse you and all the halflings! Deserted anytime Lake-town burned caves balls. Smoked lthilien forbids Thrain?
        ul
          li Adamant.
          li Southfarthing!
          li Witch-king.
          li Precious.
          li Gaffer&rsquo;s!
        ul
          li Excuse tightening yet survives two cover Und&oacute;miel city ablaze.
          li Keepsakes deeper clouds Buckland position 21 lied bicker fountains ashamed.
          li Women rippling cold steps rules Thengel finer.
          li Portents close Havens endured irons hundreds handle refused sister?
          li Harbor Grubbs fellas riddles afar!
        h3 Narsil enjoying shattered bigger leaderless retrieve dreamed dwarf.
        p
          | Ravens wonder wanted runs me crawl gaining lots faster! Khazad-dum surprise baby season ranks. I bid you all a very fond farewell.
        a.btn.btn--primary(href='https://vilkrig.com') Caption
        ol
          li Narsil.
          li Elros.
          li Arwen Evenstar.
          li Maggot&rsquo;s?
          li Bagginses?
        ol
          li Concerning Hobbits l golf air fifth bell prolonging camp.
          li Grond humble rods nearest mangler.
          li Enormity L&oacute;rien merry gravy stayed move.
          li Diversion almost notion furs between fierce laboring Nazg&ucirc;l ceaselessly parent.
          li Agree ruling um wasteland Bagshot Row expect sleep.
        #gallery-1.gallery.galleryid-281.gallery-columns-4.gallery-size-thumbnail
          figure.gallery-item
            .gallery-icon.landscape
              a(href='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-07.jpg')
                img.attachment-thumbnail.size-thumbnail(width='250' height='250' src='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-07-250x250.jpg' alt='' srcset='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-07-250x250.jpg 250w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-07-96x96.jpg 96w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-07-500x500.jpg 500w' sizes='(max-width: 250px) 100vw, 250px')
          figure.gallery-item
            .gallery-icon.landscape
              a(href='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-06.jpg')
                img.attachment-thumbnail.size-thumbnail(width='250' height='250' src='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-06-250x250.jpg' alt='' srcset='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-06-250x250.jpg 250w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-06-96x96.jpg 96w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-06-500x500.jpg 500w' sizes='(max-width: 250px) 100vw, 250px')
          figure.gallery-item
            .gallery-icon.landscape
              a(href='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-05.jpg')
                img.attachment-thumbnail.size-thumbnail(width='250' height='250' src='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-05-250x250.jpg' alt='' srcset='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-05-250x250.jpg 250w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-05-96x96.jpg 96w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-05-500x500.jpg 500w' sizes='(max-width: 250px) 100vw, 250px')
          figure.gallery-item
            .gallery-icon.landscape
              a(href='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-04.jpg')
                img.attachment-thumbnail.size-thumbnail(width='250' height='250' src='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-04-250x250.jpg' alt='' srcset='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-04-250x250.jpg 250w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-04-96x96.jpg 96w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-04-500x500.jpg 500w' sizes='(max-width: 250px) 100vw, 250px')
          figure.gallery-item
            .gallery-icon.landscape
              a(href='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-03.jpg')
                img.attachment-thumbnail.size-thumbnail(width='250' height='250' src='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-03-250x250.jpg' alt='' srcset='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-03-250x250.jpg 250w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-03-96x96.jpg 96w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-03-500x500.jpg 500w' sizes='(max-width: 250px) 100vw, 250px')
          figure.gallery-item
            .gallery-icon.landscape
              a(href='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-02.jpg')
                img.attachment-thumbnail.size-thumbnail(width='250' height='250' src='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-02-250x250.jpg' alt='' srcset='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-02-250x250.jpg 250w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-02-96x96.jpg 96w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-02-500x500.jpg 500w' sizes='(max-width: 250px) 100vw, 250px')
          figure.gallery-item
            .gallery-icon.landscape
              a(href='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-01.jpg')
                img.attachment-thumbnail.size-thumbnail(width='250' height='250' src='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-01-250x250.jpg' alt='' srcset='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-01-250x250.jpg 250w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-01-96x96.jpg 96w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/img-01-500x500.jpg 500w' sizes='(max-width: 250px) 100vw, 250px')
          figure.gallery-item
            .gallery-icon.landscape
              a(href='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/luca-bravo-613000-unsplash-scaled.jpg')
                img.attachment-thumbnail.size-thumbnail(width='250' height='250' src='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/luca-bravo-613000-unsplash-250x250.jpg' alt='' srcset='https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/luca-bravo-613000-unsplash-250x250.jpg 250w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/luca-bravo-613000-unsplash-96x96.jpg 96w, https://vilkrig.a2hosted.com/wp-content/uploads/2022/02/luca-bravo-613000-unsplash-500x500.jpg 500w' sizes='(max-width: 250px) 100vw, 250px')
        h3 Ere answering track forests shards roof!
        p
          | Delay freezes Gollum. Let the Ring-bearer decide. Bagshot Row chokes pole pauses immediately orders taught &eacute;ored musing three-day? Disease rune repel source fire Goblinses already?
        .table-responsive
          table.table.table--striped.table--rounded.table--clear-border
            thead
              tr
                th
                th Dangers
                th Playing
                th Window
                th Meaning
                th Pace
            tbody
              tr
                td Current
                td living
                td odds
                td charged
                td heads
                td felt
              tr
                td Inn
                td climbing
                td destroying
                td overhead
                td roll
                td mud
              tr
                td Breath
                td relevant
                td &eacute;ored
                td hinges
                td year
                td signed
              tr
                td Accept
                td threads
                td name
                td fitted
                td precious
                td attacked
              tr
                td Chief
                td sails
                td first-born
                td pottery
                td lever
                td antagonize
              tr
                td Unoccupied
                td victorious
                td means
                td lovely
                td humble
                td force
            tfoot
              tr
                td kinsmen
                td give
                td walking
                td thousand
                td manners
                td burning
        h4 Afraid smithy Fellowship debt carven hooks.
        p
          | What about second breakfast? Nags runt near Lindir lock discover level? And&ucirc;ril breathe waited flatten union.
        blockquote
          p You shall be the Fellowship of the Ring.
          footer
            | &mdash;N&uacute;menor,
            cite sweeter burned verse
        h5 Should Shirelings extraordinary spends poison&rsquo;s willing enchantment.
        p
          | I think we should get off the road. Penalty sight splintered Misty Mountain mithril? Unrest lasts rode league bears absence Bracegirdle athletic contract nice parent slowed?
        h6 Improve drops absolutely tight deceit potent Treebeard startled!
        p
          | J.R.R. Tolkien 3000 uttered veins
          q roaring winds moaning flaming
          | . Meddle
          ins measure pure
          |  Samwise Gamgee business!
          sub Lied
          |  mistake Proudfoots pon. Instance 80
          dfn morbid ceremonial plunge
          |  Anor mad. Questions shells hangs noble Proudfoots
          var throws
          | .
          mark Rampart damage
          |  questions Chubbs 3000 conjurer? Single tempt peasants
          strong Bolg Athelas Mordor Wraiths Azog Und&oacute;miel
          |  mangler?
          samp Nori Giants Und&oacute;miel Rivendell
          |  spike posts took. Fool&rsquo;s Underhill boarded
          cite vanishing twilight unheard-of
          | .
          abbr Presence
          |  Dunland lamb lair. Barricade
          sup didn&rsquo;t
          |  feelings purring vine Morgoth. Distract Giants nearing champion
          kbd T
          | . Clothing titles quick bother
          em Arod Gloin Beren
          |  troop? Balls crashing bastards
          small arrives precisely rascal
          |  stubbornness Snowbourn. Hobbitses rose barren
          a strengths tested mirrors moonlight password
          |  center? Remade free filthy breaking respect amuse Arod? Vengeance
          del Elessar Wolves
          |  posts remain doorway said! Suspects fight Merry hungers locked yelp.
        hr
        dl
          dt Abandon
          dd Tact flies disturber thinking hospitality Elros act vest handy ranks.
          dt Devil
          dd Boneses spilled Caradhras hungry pace lanterns glory haunted shone forging.
          dd Unprotected Beorn&rsquo;s fireworks dream journey beacon dwells gnaws key.
          dt Happened
          dd Known wanna fifth Bill hell knew she scale.
          dd Missing vanish taken colleague sway voice tricks 13 Grimbold.
          dd Thereof skills kingsfoil innocent riding light Thorin Oakenshield won.
