extends ../layout.pug

block variables
  -var title = 'Article Example'

block styles
  link(rel='stylesheet' href=`../assets/css/article.css?time=${time}`)

block content
  main(class='article-screen')
    div(class='article-screen__container')
      include ../components/article/page-heading
      include ../components/article/page-content



