extends ../layout.pug

block variables
  -var title = 'Auth Example'

block content
  main(class='auth-screen')
    div(class='auth-screen__inner')
      div(class='auth-screen__info')
        div(class='auth-info')
          a(href='auth.html')
            img(class='auth-info__logo' src='../../assets/img/spruce-logo-light.svg' alt='Spruce CSS')
          div(class='auth-info__caption')
            h2(class='auth-info__title') Morbi nec ultricies risus curabitur nibh eros
            p Morbi nec ultricies risus. Curabitur nibh eros, facilisis et elementum vitae
          include ../components/theme-switcher
          // p(class='auth-info__credit') Photo by #[a(href="https://unsplash.com/@maritafox?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText") Marita Kavelashvili] on #[a(href="https://unsplash.com/s/photos/pine-forest?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText") Unsplash]
      div(class='auth-screen__form')
        div(class='auth-form')
          h1(class='auth-form__title') Login
          p Donec quis magna sed dolor blandit facilisis ut sed velit. Pellentesque a malesuada nisl.
          form(method='POST' action='#')
            div(class='form-group-stack')
              div(class='form-group')
                label(class='form-label' for='email') Email
                input(id='email' class='form-control form-control--lg' type='text' name='email' value required autocomplete='off' autofocus)
              div(class='form-group')
                label(class='form-label' for='password' style='display: flex; justify-content: space-between;') Password #[a(href='#') Forgot password?]
                input(id='password' class='form-control form-control--lg' type='password' name='password' require autocomplete='off')
              div(class='form-group')
                label(class='form-check form-check--lg' for='remember')
                  input(id='remember' class='form-check__control' type='checkbox' name='remember')
                  span(class='form-label form-check__label') Remember me
              div(class='form-group')
                button(class='btn btn--primary btn--lg btn--block' type='submit') Login
          p Not a member? #[a(href='#') Sign up]
