@use 'sass:color';
@use 'sprucecss/scss/spruce';

.auth-screen {
  &__inner {
    align-items: center;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
  }

  &__info {
    background-image: url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80');
    background-size: cover;
    height: 100%;
    inset: 0 auto 0 0;
    position: fixed;
    padding: spruce.spacer(l);
    z-index: 1;
    width: 30rem;

    &::before {
      background-color: color.adjust(spruce.color(primary, $only-color: true), $lightness: -20%);
      content: '';
      inset: 0;
      opacity: 0.85;
      position: absolute;
      z-index: -1
    }
  }

  &__form {
    align-items: center;
    background-color: spruce.color(background);
    display: flex;
    height: 100%;
    justify-content: center;
    margin-inline-start: 30rem;
    padding: spruce.spacer(l);
    width: calc(100vw - 30rem);
  }
}

.auth-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__logo {
    margin-block-end: spruce.spacer(m);
    width: 9rem;
  }

  &__caption {
    @include spruce.layout-stack(spruce.spacer(s));
    max-width: 25rem;
  }

  &__title {
    color: hsl(0 0% 100%);
    font-weight: 400;
  }

  &__description {
    color: hsl(0 0% 100%);
  }

  &__navigation {
    ul {
      @include spruce.clear-list;
      display: flex;
      gap: spruce.spacer(s);

      > li {
        margin-block-start: 0;
      }

      a {
        color: hsl(0 0% 100%);
        text-decoration: none;
      }
    }
  }
}

.auth-form {
  @include spruce.layout-stack(spruce.spacer(s));
  width: 40rem;
  max-width: 100%;
}

